* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightsteelblue;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,
h2 {
    padding: 1rem;
    margin: 1rem;
}

h1 {
    color: white;
}

h3 {
    margin-bottom: 15px;
}

img {
    width: 550px;
    height: 550px;
    border-radius: 150px;
    border: 15px dashed red;
}

a {
    font-size: 0.75rem;
}

li {
    text-align: justify;
    color: darkgreen;
    list-style-position: inside;
}

.topStory {
    color: red;
    margin: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 3;
    grid-row: 1;
}

.boxes {
    border: 1px solid red;
    padding: 1.5rem;
    margin: 1.5rem;
}

.headerPara {
    margin-bottom: 40px;
}

.footerLink {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.75rem;
    padding: 0.75rem;
}